{% load static %}
<link rel="stylesheet" href="{% static 'media_library/style.css' %}" />
{% comment %}HOME. 模仿Jellyfin的主页{% endcomment %}

<!DOCTYPE html>
<html>
  <head>
    <title>主页</title>
  </head>

  <body>
    {% comment %}状态栏{% endcomment %}

    <div class="status-bar">
      <h1>主页</h1>
      <p>测试</p>
    </div>

    {% comment %}显示文件。每个文件显示为文件夹{% endcomment %}

    <div class="file-displayer">
      {% for file_path in file_paths %}
        <div class="media-display-unit" onclick="alert('{{ file_path }}')">
          <img class="shortcut-img" src="{% static 'media_library/file.svg' %}" alt="文件" />
          <p class="shortcut-text">{{ file_path }}</p>
        </div>
      {% endfor %}
    </div>

    {% comment %}后续部分{% endcomment %}
  </body>
</html>
