{% load static %}
<!--  
  总览所有的Library.

  接受来自Python文件的输入： 
  - LIBRARIES

-->

<!DOCTYPE html>
<html>
  <head>
    <title>媒体库总览</title>
  </head>

  <body>
    <!-- 状态栏 -->
    {% include "components/panel/status_panel.html" with TITLE="媒体库" PARA="Library 总览" %}

    <!-- 媒体库显示器，显示来自Python的输入 -->
    <div>
      {% for LIBRARY in LIBRARIES %} {% comment %}
      <a href=" {% url ' library_id=LIBRARY.id %} ">
        <img class="shortcut-img" src="{% static 'media_library/library.svg' %}" alt="媒体库" />
        <p class="shortcut-text">{{LIBRARY.library_name}}</p>
      </a>
      {% endcomment %}
      <!-- -->
      {% include "components/image_displayer/landscape_displayer.html" %}
      
      <!-- -->
      {% endfor %}
    </div>

    {% comment %} 显示库。遍历拥有的每个库。 {% endcomment %}
  </body>
</html>
