{% load static %}
<link rel="stylesheet" href="{% static 'media_library/style.css' %}" />

<!DOCTYPE html>
<html>
  <head>
    <title>主页</title>

  </head>

  <body>
    {% comment %}状态栏{% endcomment %}

    <div class="status-bar">
      <h1>IMAGE VIEWER</h1>
      <p>暂时没有已打开的图像</p>
      <a href="{% url 'media_library:home' %}">主页</a>
      <a href="{% url 'media_library:libraries' %}">媒体库</a>
      <a href="{% url 'media_library:file_browser' %}">文件</a>
    </div>





    
    {% comment %}后续部分{% endcomment %}
  </body>
</html>
