body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.file-displayer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    /* 自动填充列 */
    gap: 20px;body {
        margin: 0;
        font-family: Arial, sans-serif;
    }
    
    /* 项之间的间距 */
}

.media-display-unit {
    text-align: center;
    /* 居中内容 */
    padding: 10px;
}

.library-displayer {
    border: 2px solid #000;
    /* 边框样式，2像素宽度，黑色 */
    padding: 20px;
    /* 内边距 */
}

/* 显示媒体库的单元. */
.library-displayer div {
    text-align: center;
    border: 2px solid #000;
    /* 边框样式，2像素宽度，黑色 */
    padding: 20px;
    /* 内边距 */
}

/*媒体库的标题名称。*/
.library-shortcut-text {
    margin-top: 20px;
    color: aqua;
}


.shortcut-img {
    width: 100px;
    /* 图片宽度 */
    height: 100px;
    /* 图片高度 */
    object-fit: contain;
    /* 图片按比例缩放填充 */
}

.shortcut-text {
    margin-top: 10px;
    /* 文字与图片之间的间距 */
}



