{% load static %}
<!-- 
  导入Macy.js, tailwindcss, jquery, font-awesome， anime.js 
  导入网站缩略图
-->

{% comment %}
<script src="https://cdn.jsdelivr.net/npm/macy@2.5.1/dist/macy.min.js"></script>
{% endcomment %}
<script src="{% static 'cdn/js/macy.min.js' %}"></script>
{% comment %}
<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio"></script>
{% endcomment %}
<script src="{% static 'cdn/js/tailwindcss.full.js' %}"></script>
{% comment %}
<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>
{% endcomment %}
<script
  src="{% static 'cdn/js/jquery-3.7.1.js' %}"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>

{% comment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
{% endcomment %}
<script src="{% static 'cdn/js/anime.min.js' %}"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

{% comment %}
<script src="https://cdn.plyr.io/3.7.8/plyr.polyfilled.js"></script>
{% endcomment %}
<script src="{% static 'cdn/js/plyr.polyfilled.js' %}"></script>

<link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
