{% load static %} {% comment %}用于浏览文件。{% endcomment %}

<!DOCTYPE html>
<html>
  <head>
    <title>文件管理器</title>
    {% include "head.html" %}
  </head>

  <body>
    <!-- 顶部导航栏 -->
    {% include "components/panel/status_panel.html" with TITLE="文件管理器" PARA=path %}

    <!-- 容纳复数个MacyContainer. 每个macy-container都代表一个loadFiles()所创建的实例。 -->
    <div id="macy-containers" class="macy-containers"></div>

    <!--  -->
    <script type="text/javascript">
      // 获取数据
      var path = "{{ path|escapejs }}";
      var name = "{{ name|escapejs }}";

      var page = 1;
      var page_size = 50;

      var isLoading = false;

      var macyInstances = [];

      // 判断文件是否为图片
      function isImage(filename) {
        var extension = filename.split(".").pop().toLowerCase();
        return ["jpg", "png", "gif"].includes(extension);
      }

      // 读取文件。可设置为网格或流式样式。（grid, flow）
      // 流式样式高度不固定，网格样式各元素大小完全固定。
      function loadFiles(style = "grid", column = 4) {
        if (isLoading) {
          return;
        }

        isLoading = true;

        $.ajax({
          url: "/file_browser/api/get_folder" + path + "/",
          data: {
            page: page,
            page_size: page_size,
          },
          success: function (data) {
            data = JSON.parse(data);

            // 如果没有数据了，就不再加载
            if (data.paths.length == 0) {
              isLoading = true;
              return;
            } else {
              console.log(data);
            }

            page += 1;

            const data_paths = data.paths;
            const data_names = data.names;

            // 创建新的 macy-container 容器
            var macyContainer = $('<div class="macy-container"></div>');
            console.log("创建了MACY容器:", macyContainer[0]);

            // 初始化 Macy
            var macyInstance = Macy({
              container: macyContainer[0],
              waitForImages: false,
              margin: 16,
              columns: column,
            });
            macyContainer[0].macyInstance = macyInstance;
            macyInstances.push(macyInstance);

            


            // 使用forEach遍历元素，向macy-container容器添加元素。大小固定。每次迭代创建一个card
            data_paths.forEach((path, index) => {
              const name = data_names[index];
              const path_url = "/file_browser/browser" + path;
              const type = data.types[index];

              var card = $(
                `<a href="${path_url}" class="card border hover:bg-blue-500 shadow bg-white rounded-lg  overflow-hidden p-4 "></a>`
              );

              // 设置排列方式
              if (style == "flow") {
                card.addClass("");
              } else if (style == "grid") {
                card.addClass("");
              }

              // 设置卡片的图标
              if (type == "folder") {
                card.append(
                  '<div class="flex justify-center items-center"><i class="fas fa-folder text-5xl"></i></div>'
                );
              } else if (type == "file" && !isImage(name)) {
                card.append('<div class="flex justify-center items-center"><i class="fas fa-file text-5xl"></i></div>');
              }else { // is image,
                card.append('<div class="flex justify-center items-center"><i class="fas fa-file text-5xl"></i></div>');
              }

              card.append(`<p class=" whitespace-nowrap overflow-ellipsis">${name}</p>`);


              if (isImage(name) && style == "flow") {
                let api_url = "/file_browser/api/get_image" + path;

                // 创建一个占位符
                let placeholder = $('<div class="w-full h-full bg-gray-200"></div>');
                card.append(placeholder);

                // 创建图像元素，但不立即添加到 DOM 中. 当图像加载完成后，替换占位符
                let preview = $(`<img src="${api_url}" class="w-full h-full object-cover">`);
                preview.on("load", function () {
                  placeholder.replaceWith(preview);
                  //macyInstance.recalculate(true);
                });
                //macyInstance.recalculate(true);
              }

              // 将卡片添加到 macy-container 容器中
              macyContainer.append(card);
            });

            // 将 macy-container 容器添加到 macy-containers 中
            $("#macy-containers").append(macyContainer[0]);

            alert(macyContainer[0].macyInstance)
            // 重新计算布局
            //macyInstance.recalculate();

            isLoading = false;
          },

          error: function (data) {
            isLoading = false;

            data = data.response;
            alert(data);
          },
        });
      }

      // 处理滚动事件，当滚动到底部时，加载更多文件。
      $(window).scroll(function () {
        if ($(document).height() - $(window).scrollTop() - $(window).height() <= 10) {
          console.log("Reached bottom!");
          loadFiles();
        }
      });

      loadFiles();
    </script>
  </body>
</html>
