{% load static %} {% comment %}用于浏览文件。{% endcomment %}

<!DOCTYPE html>
<html>
  <head>
    <title>文件管理器</title>
    {% include "head.html" %}
  </head>

  <body>
    <!--  -->
    {% include "components/panel/status_panel.html" with TITLE="文件管理器" PARA=path %} {% comment %}
    <div>当前路径: {{path}} <br />路径下文件: {{files}} <br />路径下文件夹: {{folders}}<br /></div>
    {% endcomment %}

    <!-- 显示文件夹与文件的容器 -->
    <div class="folders-container grid grid-cols-8"></div>
    <div class="files-container grid grid-cols-8"></div>

    <script type="text/javascript">
      // 获取数据
      var path = "{{ path|escapejs }}";
      var name = "{{ name|escapejs }}";
      var file_names = JSON.parse("{{ file_names|escapejs }}");
      var file_paths = JSON.parse("{{ file_paths|escapejs }}");

      var folder_names = JSON.parse("{{ folder_names|escapejs }}");
      var folder_paths = JSON.parse("{{ folder_paths|escapejs }}");

      // 根据路径，添加div。
      // paths: 路径数组, basenames: 文件名数组, container: 添加的容器的类, icon_i: 图标的i标签
      function add_clickable_divs(paths, basenames, container_class, i_class) {
        // 遍历文件，显示文件
        paths.forEach(function (path, index) {
          var basename = basenames[index];
          var path_url = "/file_browser/browser" + path;
          var displayer = `
          <a href="${path_url}" >
            <div class="file border hover:bg-blue-500 w-32 h-32 bg-white rounded-lg shadow overflow-hidden md:max-w-2xl m-2 p-4">
              <div class="flex items-center justify-center">
                <i class="${i_class}"></i>
              </div>
              <div class="file_name text-center text-sm overflow-hidden  overflow-ellipsis">${basename}</div>
            </div>
          </a>`;
          $("." + container_class).append(displayer);
        });
      }

      // 添加可点击的文件与文件夹
      add_clickable_divs(file_paths, file_names, "files-container", "fas fa-file fa-4x");
      add_clickable_divs(folder_paths, folder_names, "folders-container", "fas fa-folder fa-4x");
    </script>
  </body>
</html>
