{% load static %} {% comment %}用于浏览文件。{% endcomment %}

<!DOCTYPE html>
<html>
  <head>
    <title>文件管理器</title>
    {% include "head.html" %}
  </head>

  <body>
    <!-- 顶部导航栏 -->
    {% include "components/panel/status_panel.html" with TITLE="文件管理器" PARA=path %}

    <!-- 容纳复数个MacyContainer. 每个macy-container都代表一个asyncLoadFiles()所创建的实例。 -->
    <div id="macy-containers"></div>

    <!--  -->
    <script type="text/javascript">
      // 获取数据
      var path = "{{ path|escapejs }}";
      var name = "{{ name|escapejs }}";

      var page = 1;
      var page_size = 50;

      var isLoading = false;

      var macyInstances = [];

      // 判断文件是否为图片
      function isImage(filename) {
        var extension = filename.split(".").pop().toLowerCase();
        return ["jpg", "png", "gif"].includes(extension);
      }

      function recalcAllMacy() {
        macyInstances.forEach((macyInstance) => {
          macyInstance.recalculate(true);
          console.log(macyInstance);
        });
        console.log("更新全部Macy完毕: " + macyInstances);
        //return true;
      }

      function getIcon(filename) {
        var extension = filename.split(".").pop().toLowerCase();
        if (["jpg", "png", "gif"].includes(extension)) {
          return '<i class="fas fa-file-image text-5xl"></i>';
        } else if (["mp4", "avi", "mkv"].includes(extension)) {
          return '<i class="fas fa-file-video text-5xl"></i>';
        } else if (["mp3", "wav", "flac"].includes(extension)) {
          return '<i class="fas fa-file-audio text-5xl"></i>';
        } else if (["doc", "docx"].includes(extension)) {
          return '<i class="fas fa-file-word text-5xl"></i>';
        } else if (["xls", "xlsx"].includes(extension)) {
          return '<i class="fas fa-file-excel text-5xl"></i>';
        } else if (["ppt", "pptx"].includes(extension)) {
          return '<i class="fas fa-file-powerpoint text-5xl"></i>';
        } else if (["pdf"].includes(extension)) {
          return '<i class="fas fa-file-pdf text-5xl"></i>';
        } else if (["zip", "rar", "7z"].includes(extension)) {
          return '<i class="fas fa-file-archive text-5xl"></i>';
        } else if (["txt"].includes(extension)) {
          return '<i class="fas fa-file-alt text-5xl"></i>';
        } else {
          return '<i class="fas fa-file text-5xl"></i>';
        }
      }

      // 读取文件。可设置为网格或流式样式。（grid, flow）
      // 流式样式高度不固定，网格样式各元素大小完全固定。

      function asyncLoadFiles(style = "grid", column = 4) {
        if (isLoading) {
          return;
        }

        isLoading = true;

        $.ajax({
          url: "/file_browser/api/get_folder" + path + "/",
          data: {
            page: page,
            page_size: page_size,
          },
          success: function (data) {
            data = JSON.parse(data);

            // 如果没有数据了，就不再加载
            if (data.paths.length == 0) {
              isLoading = true;
              return;
            }
            page += 1;

            const data_paths = data.paths;
            const data_names = data.names;

            // 创建容器，创建Macy实例，将容器添加到DOM中
            let macyContainer = $('<div class="macy-container"></div>');
            let macyInstance = Macy({
              container: macyContainer[0],
              margin: 16,
              columns: column,
            });
            macyInstances.push(macyInstance);
            macyContainer[0].macyinstance = macyInstance;
            $("#macy-containers").append(macyContainer[0]);

            // 遍历元素，向容器添加元素
            data_paths.forEach((path, index) => {
              const name = data_names[index];
              const path_url = "/file_browser/browser" + path;
              const type = data.types[index];

              let card = $(
                `<a href="${path_url}" class="card border hover:bg-blue-500 shadow bg-white rounded-lg  overflow-hidden p-4 "></a>`
              );
              macyContainer.append(card);

              let icon = $(`<div class="flex justify-center items-center">${getIcon(name)}</div>`); // 设置卡片的图标
              card.append(icon);
              card.append(`<p class=" whitespace-nowrap overflow-ellipsis">${name}</p>`); // 设置文本

              // 是文本且为FLOW,则考虑显示图像
              if (isImage(name) && style == "flow") {
                let api_url = "/file_browser/api/get_image" + path;

                // 创建一个占位符
                let placeholder = $('<div class="w-full h-full bg-gray-200"></div>');
                card.append(placeholder);

                // 创建图像元素，但不立即添加到 DOM 中. 当图像加载完成后，替换占位符
                let preview = $(`<img src="${api_url}" class="w-full h-full object-cover">`);
                preview.on("load", function () {
                  placeholder.replaceWith(preview);
                  macyInstance.recalculate(true);
                });
              }
            });
            isLoading = false;
            recalcAllMacy();
          },

          error: function (data) {
            isLoading = false;

            data = data.response;
            alert(data);
          },
        }).done(function () {
          console.log("AJAX加载完成,此时：", macyInstances);
          recalcAllMacy();
        });
      }

      // 处理滚动事件，当滚动到底部时，加载更多文件。
      $(window).scroll(function () {
        if ($(document).height() - $(window).scrollTop() - $(window).height() <= 10) {
          console.log("Reached bottom!");
          asyncLoadFiles();
        }
      });

      $(document).ready(function () {
        asyncLoadFiles();
        recalcAllMacy();
      });
    </script>
  </body>
</html>
