{% load static %}

<!-- 用于检查文件 -->
<!DOCTYPE html>
<html>
  <head>
    <title>文件管理器</title>
    {% include "head.html" %}
  </head>

  <body class="bg-neutral-900">
    <!--  -->
    {% include "components/panel/status_panel.html" with TITLE="文件管理器" PARA=path %}


    <div id="image-displayer" class="flex justify-center h-screen w-full">
      <img id="image" class="object-contain max-w-full, max-h-full, h-auto" />
    </div>
    <div id="video-displayer" class="flex justify-center h-screen w-full">
      <video id="video" class="object-contain max-w-full, max-h-full, h-auto" controls></video>
    </div>

    <script>
      var path = "{{path}}";
      var name = "{{name}}";
      var extname = "{{extname}}";
    </script>
    <script type="text/javascript" src={% static 'file_browser/file_inspector' %}></script>
  </body>
</html>
