{% load static %}

<!-- 用于检查文件 -->
<!DOCTYPE html>
<html>
  <head>
    <title>文件管理器</title>
    {% include "head.html" %}
    <!-- 在 head 中包含 Plyr 的 CSS -->
  </head>

  <body class="bg-neutral-900">
    {% include "status_panel.html" with TITLE="文件管理器" PARA=name %}

    <div id="preview_panel" class="p-2 m-2">
      <a id="preview_url" class="p-1 rounded-lg text-white bg-neutral-700 hover:text-blue-500">外部链接打开</a>
    </div>
    
    <div id="displayer" class="m-4 p-4 bg-neutral-800 rounded-lg">

      <!-- 图像显示器 -->
      <img id="image" class="justify-center h-screen w-full object-contain max-w-full max-h-full h-auto" />

      <!-- 视频播放器 TODO 使用 OPlayer代替 -->

      <video id="video" playsinline controls class="object-cover h-screen w-full"></video>

      <!-- 音频播放器 -->
      <audio id="audio" controls class="w-full object-cover max-h-full max-w-full"></audio>
    </div>

    <script>
      var path = "{{path}}";
      var type = "{{type}}";
    </script>
    <script type="text/javascript" src="{% static 'file_browser/file_inspector.js' %}"></script>
  </body>
</html>
