{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>文件管理器</title>
    {% include "head.html" %}
  </head>

  <body class="bg-neutral-900">
    {% include "status_panel.html" with TITLE="文件管理器" PARA="首页" %}

    <div id="displayer" class="m-4 p-4 bg-neutral-800 text-center rounded-lg text-white">已收藏路径</div>
    {% for path, url in favorate_paths.items %}
    <div class="p-2 m-4 rounded-lg bg-neutral-700 text-center">
      <a href="/file_browser/browser{{ url }}" class="text-white">{{ path }} : {{url}}</a>
    </div>
    {% endfor %}

    <script>
      var path = "{{path}}";
      var type = "{{type}}";
    </script>
    <script type="text/javascript" src="{% static 'file_browser/file_inspector.js' %}"></script>
  </body>
</html>
